<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Sentiment Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [32]:
#Import the required libraries
import pandas as pd

In [33]:
#Import the sentiment dataset
df_sentiment = pd.read_csv('//Users//sudhanmaharjan//Desktop//DATA SCIENCE//DS_using_Python//imdb_labelled.txt',sep='\t',names=['comment','label'])

#### 2: Analyze the dataset

In [34]:
#View the first 10 observations (Note: 1 indicates positive sentiment and 0 indicates negative sentiment)
df_sentiment.head()

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [35]:
#View statistical information about the sentiment dataset
df_sentiment.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [36]:
#View a quantitative description of the dataset
df_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
comment    748 non-null object
label      748 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [37]:
#View the data based on the sentiment type (negative or positive) (Hint: group the data by the different labels, then apply the describe() function)
df_sentiment.groupby('label').describe()

      comment
        count unique                 top freq
label
0         362    361  Not recommended.      2
1         386    384             10/10      2

#### 3: Find the length of the messages and add it as a new column

In [38]:
#Calculate the length of the messages and add the values as a new column in the dataset
df_sentiment['length'] = df_sentiment['comment'].apply(len)

In [39]:
#Verify if the dataset is updated with the additional column
df_sentiment.head()

                                             comment  label  length
0  A very, very, very slow-moving, aimless movie ...      0      87
1  Not sure who was more lost - the flat characte...      0      99
2  Attempting artiness with black & white and cle...      0     188
3       Very little music or anything to speak of.        0      44
4  The best scene in the movie was when Gerardo i...      1     108

In [40]:
#View the first message which contains more than 50 characters
df_sentiment[df_sentiment['length']>50]['comment'].iloc[0]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

#### 4: Apply a transformer and fit the data in the Bag of Words

In [41]:
#Process the text with a vectorizer 
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [42]:
#Define a function to get rid of stopwords present in the messages
def message_text_process(mess):
    # Check characters to see if there are punctuations
    no_punctuation = [char for char in mess if char not in string.punctuation]
    # Form the sentence
    no_punctuation = ''.join(no_punctuation)
    # Eliminate any stopwords
    return[word for word in no_punctuation.split() if word.lower() not in stopwords.words('english')]

In [46]:
#Apply the Bag of Words and fit the data (comments) into it
import string
from nltk.corpus import stopwords
bag_of_words = CountVectorizer(analyzer=message_text_process).fit(df_sentiment['comment'])

In [47]:
#Apply the transform method to the Bag of Words
comment_bagofwords = bag_of_words.transform(df_sentiment['comment'])

In [50]:
#Apply tf-idf transformer and fit the Bag of Words into it (transformed version)
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(comment_bagofwords)

#### 5: Print the shape of the transformer

In [51]:
#Print the shape
comment_tfidf = tfidf_transformer.transform(comment_bagofwords)
print comment_tfidf.shape

(748, 3259)

#### 6: Create and check the Naïve Bayes model for predicted and expected values

In [54]:
#Create a Naïve Bayes model to detect the sentiment and fit the tf-idf data into it
from sklearn.naive_bayes import MultinomialNB
sentiment_detection_model = MultinomialNB().fit(comment_tfidf,df_sentiment['label'])

In [58]:
#Evaluate the model's accuracy by comparing the predicted  and expected values for, say, comment# 1 and comment#5
comment = df_sentiment['comment'][4]
bag_of_words_for_comment = bag_of_words.transform([comment])
tfidf = tfidf_transformer.transform(bag_of_words_for_comment)

print 'predicted sentiment label', sentiment_detection_model.predict(tfidf)[0]
print 'expected sentiment label', df_sentiment.label[4]

predicted sentiment label 1
expected sentiment label 1