In [1]:
#import libraries

import numpy as np
import pandas as pd

In [2]:
#create dataframe from dict of series for summer olympics: 1996 to 2012
olympic_series_participation = pd.Series([205,204,201,200,197],index =[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London','Beijing','Athens','Sydney','Atlanta'],index=[2012,2008,2004,2000,1996])
df_olympic_series = pd.DataFrame({'No. of Participating Countries':olympic_series_participation,
                                 'Host Cities':olympic_series_country})

In [3]:
#display the content of the dataset
df_olympic_series

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204
2004      Athens                             201
2000      Sydney                             200
1996     Atlanta                             197

In [4]:
#view dataframe describe
df_olympic_series.describe

<bound method DataFrame.describe of      Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204
2004      Athens                             201
2000      Sydney                             200
1996     Atlanta                             197>

In [5]:
#view top 2 records
df_olympic_series.head(2)

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204

In [6]:
#view last 3 records
df_olympic_series.tail(3)

     Host Cities  No. of Participating Countries
2004      Athens                             201
2000      Sydney                             200
1996     Atlanta                             197

In [7]:
#view indexes of dataset
df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [8]:
#view columns of dataset
df_olympic_series.columns

Index([u'Host Cities', u'No. of Participating Countries'], dtype='object')

Select DATA

In [10]:
#select data for Host cities
df_olympic_series['Host Cities']

2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
Name: Host Cities, dtype: object

In [11]:
#another data selection No. of Participating Countries
df_olympic_series['No. of Participating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Participating Countries, dtype: int64

In [12]:
#select lable-location based access by label
df_olympic_series.loc[2012]

Host Cities                       London
No. of Participating Countries       205
Name: 2012, dtype: object

In [13]:
#Integer-location based indexing by position
df_olympic_series.iloc[0:2]

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204

In [14]:
#Integer-location based data selection by index value
df_olympic_series.iat[3,1]

200

In [16]:
#select data element by condition where number of participated countries are more than 200
# hint - use boolean expression
df_olympic_series[df_olympic_series['No. of Participating Countries']>200]

     Host Cities  No. of Participating Countries
2012      London                             205
2008     Beijing                             204
2004      Athens                             201